<!DOCTYPE html>
<html>

  <head>
    <title>Sequence Mismatch</title>

    <!--Import ajax jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--Import favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import materialize.css and custom.css-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

    <!-- Navbar goes here -->
    <div class="navbar-fixed" style="margin-bottom:30px; ">
      <nav>
        <div class="nav-wrapper light-blue darken-3">
          <a href="{{ url_for('index') }}" class="flow-text" style="margin-left:20px; ">Find mismatched base pairs between complementary DNA sequences</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="col s12" id="myform">
        <div class="row">
          <!------ LEFT SIDE BOX ------>
          <div class="input-field col s6">
            <textarea id="text_lhs" name="text_lhs" class="materialize-textarea"></textarea>
            <label for="text_lhs" class="active">Reference sequence(s), 5' to 3'</label>
            <span class="helper-text">Ex. GCCTCAGTCTGCTTCGCACC</span>
          </div>

          <!------ RIGHT SIDE BOX ------>
          <div class="input-field col s6">
            <textarea id="text_rhs" name="text_rhs" class="materialize-textarea"></textarea>
            <label for="text_rhs" class="active">Complementary sequence(s), 5' to 3'</label>
            <span class="helper-text">Ex. GGTGCGATGCAGATTGAGTC</span>
          </div>

        </div>

        <!-- SUBMIT BUTTON -->
        <div class="button-center">
          <!-- todo: onclick="submitForm() does not seem to work -->
          <button class="get_result btn waves-effect waves-light light-blue darken-2" type="submit" onclick="submitForm()">Submit</button>
        </div>
      </div>
    </div>


    <h5 class='output_err' style="text-align:center; color:#ad1457"></h5>
    <div class="row" id="outputrow">
      <div class="col s6">
        <label>Same reference, 5' to 3'</label>
        <div class="card-panel">
          <div class='output_lhs' style="font-family: monospace; word-break: break-all;"></div>
        </div>
      </div>
      <div class="col s6">
        <label>Reverse complement, 3' to 5'</label>
        <div class="card-panel">
          <div class='output_rhs' style="font-family: monospace; word-break: break-all;"></div>
        </div>
      </div>
      <label style="display:block; text-align:center;">Mismatches are highlighted in blue.</label>
    </div>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>

  </body>

  <script>
    // when submit button is clicked, perform get request to obtain result
    // of processing text_lhs and text_rhs through process_sequences. then
    // send result to its assigned div tag in the body above
    // https://stackoverflow.com/a/52345940
    $(document).ready(function(){
      $('#outputrow').hide();

      $('#myform').on('click', '.get_result', function(){
        var text_lhs = $("#text_lhs").val();
        var text_rhs = $("#text_rhs").val();

        $.ajax({
          url: "/process_sequences",
          type: "get",
          data: {text_lhs:text_lhs, text_rhs:text_rhs},
          success: function(response) {
            $('#outputrow').show();
            $(".output_err").html(response.result_error.toString());

            // get response from python fx
            var pre_lhs = response.result_lhs.toString();
            var pre_rhs = response.result_rhs.toString();
            var indexList = response.indexList;

            // highlight specified indexes
            var hlt_lhs = pre_lhs.highlighter(indexList);
            var hlt_rhs = pre_rhs.highlighter(indexList);

            // assign result to its div tag
            $(".output_lhs").html(hlt_lhs);
            $(".output_rhs").html(hlt_rhs);
          },
        });
      });
    });

    // higlighter function adds a highlight span tag around each
    // character whose index is specified in the input list
    // https://stackoverflow.com/a/35967029
    String.prototype.highlighter = function(indexList) {  
      var myString = this;

      // iterate in reverse so the span tags don't interfere with index
      for (var i=indexList.length-1; i>=0; i--) {
        var index = indexList[i];
        var myString = myString.substr(0, index) + 
                       '<span class="highlight">' + myString.substr(index, 1) + '</span>' +
                       myString.substr(index+1);
      }
      return myString
    }
  </script>

</html>
